html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
}

.header {
    background-color: #74C69D;
    width: 100%;
    min-height: 586px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: 'Work Sans';
    color: #fff;
}
.header_line {
    display: flex;
    max-width: 1175px;
    width: 100%;
}
.logo{
    width: 64px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.header_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

.menu-burger{
    display: none;
}

.link {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    padding-top: 20px;
    margin-left: auto;
}

.link p{
    padding: 0 30px;
}

.header_text {
    max-width: 415px;
    width: 100%;
    font-size: 15px;
    font-weight: 400px;
}
.header_text h1{
    font-family: 'Crimson Text';
    font-size: 40px;
    font-weight: 700;
}
.header_text h2{
    font-size: 16px;
    font-weight: 700;
}

.header_info{
    display: flex;
    justify-content: space-between;
}

.header_info img{
    max-width: 640px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
}

.header_button {
    width: 170px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans';
    border: none;
    border-radius: 5px;
}
/*Services_Partners*/
.partners{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Work Sans';
    margin-top: 60px;
}

.partners_text{
    max-width: 410px;
    width: 100%;
}

.pt_1{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #74C69D;
    text-align: center;
}

.pt_2{
    font-family: 'Crimson Text';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #000;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 16px;
    margin-top: 16px;
}

.pt_3{
    text-align: center;
    margin-bottom: 0px;
}

.partners_logo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners_logo img{ 
    max-width: 15%;
    max-height: 10vh;
    height: auto;
    padding: 0 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.learn-more{
    width: 170px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans';
    border: none;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}
/*Services_Society*/
.society{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    font-family: 'Work Sans';
    margin-top: 73px;
}

.sc_info{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 110px;
}

.society img{
    max-width: 600px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
}

.sc_1{
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: 100px;
}

.sc_2{
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #21252980;
}

/*Services Security*/
.security{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    font-family: 'Work Sans';
    margin-top: 73px;
}

.secur_info{
    margin-right: 110px;
}

.security img{
    max-width: 600px;
    width: 100%;
    max-height: 100vh;
    height: 100%;
}

.sr_1{
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: 180px;
}

.sr_2{
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #21252980;
}

/*Services Team*/
.team{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Work Sans';
    margin-top: 100px;
}

.team_members{
    width: 100%;
    display: flex;
    margin-bottom: 45px;
    justify-content: space-between;
}

.mem{
    max-width: 279px;
    width: 100%;
    max-height: 299px;
    height: 100%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
}

.mem_info{
    margin-top: 19px;
}

.mem img{
    max-width: 175px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.team_info{
    max-width: 404px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tm_1{
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #74C69D;
    margin-top: 0px;
    margin-bottom: 0px;
}

.tm_2{
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.tm_3{
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
}

.tmi_1{
    font-family: 'Crimson Text';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 19px;
    margin-bottom: 17px;
}

.tmi_2{
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    color: #212529BF;
    margin-top: 0px;
    margin-bottom: 19px;
}

/*Footer*/
.footer{
    background-color: #74C69D;
    width: 100%;
    margin-top: 54px;
    margin-bottom: 0px;
    font-family: 'Work Sans';
    color: #fff;
}

.ft_info{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 130px;
    display: flex;
    justify-content: space-between;
}

.social img{
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    margin-right: 13px;
}

.license{
    margin: 0px;
    font-family: 'Work Sans';
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
}

/*Media*/
@media screen and (max-width: 1155px){
    .container{
        padding: 0 20px;
    }

    .link p{
        padding: 0 20px;
    }

    .partners{
        padding: 0 20px;
    }

    .society{
        padding: 0 20px;
    }

    .sc_info{
        margin: auto;
    }

    .sc_1{
        margin-top: auto;
    }

    .security{
        padding: 0 20px;
    }

    .secur_info{
        margin: auto;
    }

    .sr_1{
        margin-top: auto;
    }

    .team{
        padding: 0 20px;
    }

    .ft_info{
        padding: 50px 20px;
    }
}

@media screen and (max-width: 840px) {
    .header_info{
        display: flex;
        flex-direction: column-reverse;
    }

    .header_info img{   
        margin: 0 auto;
    }

    .header_text{
        max-width: 100%;
    }

    .partners_logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partners_logo img{
        max-width: 55%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .society{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sc_1{
        margin-top: 30px;
    }

    .sc_info{
        margin: 0;
    }

    .security{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .sr_1{
        margin-top: 30px;
    }

    .secur_info{
        margin: 0;
    }

    .team{
        margin-top: 40px;
    }

    .team_members{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .mem{
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 600px) {
    .menu-burger{
        display: flex;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        max-height: 32px;
    }

    .link{
        display: none;
    }
}

@media screen and (max-width: 668px) {
    .social img{
        max-width: 18px;
        width: 100%;
        max-height: 18px;
        height: 100%;
        margin-right: 13px;
    }

    .ft_info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 20px;
    }
}

@media screen and (max-width: 375px){
    .container{
        padding: 0 15px;
    }

    .link p{
        padding: 0 5px;
    }
}