:root {
    --font-1: "Crimson Text", serif;
    --font-2: "Work Sans", sans-serif;

    --color-green-100: rgba(116,198,157,1);
    --color-green-75: rgba(116,198,157,0.75);
    --color-green-50: rgba(116,198,157,0.5);
    --color-green-25: rgba(116,198,157,0.25);

    --color-white-100: rgba(255,255,255,1);
    --color-white-75: rgba(255,255,255,0.75);
    --color-white-50: rgba(255,255,255,0.5);
    --color-white-25: rgba(255,255,255,0.25);

    --color-dark-100: rgba(33,37,41,1);
    --color-dark-75: rgba(33,37,41,0.75);
    --color-dark-50: rgba(33,37,41,0.5);
    --color-dark-25: rgba(33,37,41,0.25);
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.body-wraper {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
}

.header {
    background-color: var(--color-green-100);
    width: 100%;
    min-height: 586px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-family: var(--font-2);
    color: var(--color-white-100);
}
.header-line {
    display: flex;
    max-width: 1175px;
    width: 100%;
}

.logo {
    width: 64px;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
}
.header-title {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
}

.burger-checkbox {
    display: none;
}

.menu-burger {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
}

.menu-burger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 3px;
    left: 5px;
    background-color: var(--color-white-100);
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}

.menu-burger span:nth-child(1) {
    top: 11px;
}

.menu-burger span:nth-child(2) {
    top: 18px;
}

.menu-burger span:nth-child(3) {
    top: 25px;
}

/*Крестик*/
.burger-checkbox:checked + .menu-burger span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.burger-checkbox:checked + .menu-burger span:nth-child(2) {
    opacity: 0;
}

.burger-checkbox:checked + .menu-burger span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.link {
    font-size: 20px;
    font-weight: 400;
    display: flex;
    margin-left: auto;
    gap: 0 30px;
}

.link a {
    cursor: pointer;
    margin: 10px 0;
    color: var(--color-white-100);
    text-decoration: none;
}

.header-text {
    max-width: 415px;
    width: 100%;
    font-size: 15px;
    font-weight: 400px;
}
.header-text h1 {
    font-family: var(--font-1);
    font-size: 40px;
    font-weight: 700;
}
.header-text h2 {
    font-size: 16px;
    font-weight: 700;
}

.header-info {
    display: flex;
    justify-content: space-between;
}

.header-info img {
    max-width: 640px;
    width: 100%;
    max-height: 120vh;
    height: 100%;
}

.header-button {
    cursor: pointer;
    width: 170px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-2);
    border: none;
    border-radius: 5px;
}
/*Services_Partners*/
.partners {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-2);
    margin-top: 60px;
}

.partners-text {
    max-width: 410px;
    width: 100%;
}

.partners-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-green-100);
    text-align: center;
}

.partners-subtitle {
    font-family: var(--font-1);
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: var(--color-dark-100);
    text-align: center;
    text-shadow: 1px 1px 2px var(--color-dark-100);
    margin-bottom: 16px;
    margin-top: 16px;
}

.partners-description {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
}

.partners-logo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partners-logo img { 
    max-width: 15%;
    max-height: 10vh;
    height: auto;
    padding: 0 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.learn-more {
    cursor: pointer;
    width: 170px;
    height: 48px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-2);
    border: none;
    border-radius: 5px;
    background-color: var(--color-dark-100);
    color: var(--color-white-100);
}
/*Services_Society*/
.society {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    font-family: var(--font-2);
    margin-top: 73px;
}

.sc_info {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-left: 110px;
}

.society img {
    max-width: 600px;
    width: 100%;
    max-height: 120vh;
    height: 100%;
}

.society-title {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: 100px;
}

.society-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #21252980;
}

/*Services Security*/
.security {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    font-family: var(--font-2);
    margin-top: 73px;
}

.security_info {
    margin-right: 110px;
}

.security img {
    max-width: 600px;
    width: 100%;
    max-height: 150vh;
    height: 100%;
}

.security-title {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 16px;
    margin-top: 180px;
}

.security-subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    margin-top: 0px;
    margin-bottom: 16px;
    color: #21252980;
}

/*Services Team*/
.team {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-2);
    margin-top: 100px;
}

.team-members {
    width: 100%;
    display: flex;
    margin-bottom: 45px;
    justify-content: space-between;
}

.mem {
    max-width: 279px;
    width: 100%;
    max-height: 299px;
    height: 100%;
    box-shadow: 0px 5px 10px 0px var(--color-dark-50);
    border-radius: 5px;
    text-align: center;
    margin: 0 5px;
}

.memberiinfo {
    margin-top: 19px;
}

.mem img {
    max-width: 175px;
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--color-dark-100);
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.team-info {
    max-width: 404px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.team-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: var(--color-green-100);
    margin-top: 0px;
    margin-bottom: 0px;
}

.team-suntitle {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.team-description {
    margin-top: 0px;
    margin-bottom: 45px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
}

.team-member-title {
    font-family: var(--font-1);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 19px;
    margin-bottom: 17px;
}

.team-member-description {
    font-family: var(--font-2);
    font-weight: 400;
    font-size: 15px;
    line-height: 18.75px;
    color: var(--color-dark-75);
    margin-top: 0px;
    margin-bottom: 19px;
}

/*Footer*/
.footer {
    background-color: var(--color-green-100);
    width: 100%;
    margin-top: 54px;
    margin-bottom: 0px;
    font-family: var(--font-2);
    color: var(--color-white-100);
}

.footer-info {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 130px;
    display: flex;
    justify-content: space-between;
}

.social img {
    cursor: pointer;
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    margin-right: 13px;
}

.license {
    margin: 0px;
    font-family: var(--font-2);
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
}

/*Media*/
@media screen and (max-width: 1155px){
    .container {
        padding: 0 20px;
    }

    .partners {
        padding: 0 20px;
    }

    .society {
        padding: 0 20px;
    }

    .sc_info {
        margin: auto;
    }

    .society-title {
        margin-top: auto;
    }

    .security {
        padding: 0 20px;
    }

    .security_info {
        margin: auto;
    }

    .security-title {
        margin-top: auto;
    }

    .team {
        padding: 0 20px;
    }

    .footer-info {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 900px) {
    .menu-burger {
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
    }   

    .link {
        display: flex;
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
        width: 200px;
        padding: 120px 20px 20px 20px;
        background-color: var(--color-dark-75);
        visibility: hidden;
        transform: translateX(100%);
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }

    .burger-checkbox:checked ~ .link {
        transform: translateX(0);
        visibility: visible;
    }

    .link a {
        padding: 10px;
    }

    .header-info{
        display: flex;
        flex-direction: column-reverse;
    }

    .header-info img{   
        margin: 0 auto;
    }

    .header-text{
        max-width: 100%;
    }

    .partners-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partners-logo img{
        max-width: 55%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .society{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .society-title{
        margin-top: 30px;
    }

    .sc_info{
        margin: 0;
    }

    .security{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .security-title{
        margin-top: 30px;
    }

    .security_info{
        margin: 0;
    }

    .team{
        margin-top: 40px;
    }

    .team-members{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .mem{
        margin-bottom: 35px;
    }
}


@media screen and (max-width: 668px) {
    .social img{
        max-width: 18px;
        width: 100%;
        max-height: 18px;
        height: 100%;
        margin-right: 13px;
    }

    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 31px 20px;
    }
}

@media screen and (max-width: 375px){
    .container{
        padding: 0 15px;
    }

}
